<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REMINDR</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header section -->
    <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <! https://www.flaticon.com/fr/icones-gratuites/lhorloge -- L'horloge icônes créées par smashingstocks - Flaticon>
            <img src="/Media/Images/remindr-logo.webp" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Remindr
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {{#if sessionInfos.user.nameUser}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{sessionInfos.user.pseudoUser}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Mes rappels</a></li>
                    <li><a class="dropdown-item" href="#">Mes groupes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/users">Mon compte</a></li>
                    <li><a class="dropdown-item" href="/users/logout">Déconnexion</a></li>
                </ul>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link active" href="/users/login">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/users/create">Insciption</a>
            </li>
            {{/if}}
        </ul>
        </div>
    </div>
    </nav>
    </header>

    <!-- Main content section -->
    <main>
        <div class="container-fluid">
            {{#if messages.error}}
            <div class="alert alert-danger" role="alert">
                {{messages.error}}
            </div>
            {{/if}}

            {{#if messages.notification}}
            <div class="alert alert-primary" role="alert">
                {{messages.notification}}
            </div>
            {{/if}}
        </div>
        
        {{{body}}} <!-- This is where the content of each specific page will be inserted -->
    </main>

    <!-- Footer section -->
    <footer>
        <!-- Footer content goes here -->
    </footer>

    <!-- Additional scripts or other bottom-of-page content can be added here -->
</body>

</html>